@charset "utf-8";

body
{
	background-image: url(http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0152/6961/rrrobot_circut_black_gray_mirror.png);
	/*background-size: cover; */
	background-repeat: repeat;
	color:#000000;
}

a:link
{
	font-weight:normal;
	color:black;
}

a:visited
{
	font-weight:normal;
	color: orange;
}

a:hover
{
	font-weight:normal;
	color: yellow;
}

p
{
	color: black;
}

h2
{
	color: black;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav li {
	float: left;
	border-right: 1px solid #bbb;
	background-color: #dddddd;
}

.nav li:last-child {
	border-right: none;
}

.nav li a {
	display: block;
	padding: 8px;
	color: #000000;
	text-decoration: none;
}

.nav li a:hover {
	background-color: #aaaaaa;
}
